/* Importando fonte */
body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f8f8;
  color: #333;
  transition: background-color 0.3s, color 0.3s;
}

/* Cabeçalho */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background: #d2691e;
  color: white;
}

.logo img {
  max-height: 70px;
  width: auto;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

nav ul li a {
  text-decoration: none;
  color: white;
  font-weight: 500;
}

#modo-tema {
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
  color: white;
}

/* Hero Section */
.hero {
  text-align: center;
  max-width: 100%;
  color: white;
}

.hero img {
  width: 100%;
  height: auto;
  display: block;
}

.hero-content {
  padding: 20px 0;
  color: #111;
}

.dark-mode .hero-content {
  color: white;
}

/* Destaques */
.destaques {
  text-align: center;
  padding: 50px 20px;
}

.produtos-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.produto {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
  transition: transform 0.3s, box-shadow 0.3s;
  max-width: 250px;
  text-align: center;
}

.produto:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
}

.produto img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 15px;
}

.produto h3 {
  font-size: 18px;
  margin: 10px 0;
  font-weight: bold;
}

.produto p {
  font-size: 14px;
  color: #666;
  margin-bottom: 10px;
}
.dark-mode .produto p {
  background-color: #333;
  color: white;
}

.produto span {
  font-size: 16px;
  font-weight: bold;
  color: #d2691e;
}

/* Rodapé */
footer {
  text-align: center;
  padding: 20px;
  background: #333;
  color: white;
}

/* Modo Escuro */
.dark-mode {
  background-color: #222;
  color: rgb(255, 255, 255);
}

.dark-mode header {
  background: #444;
}

.dark-mode footer {
  background: #111;
}

.dark-mode .produto {
  background-color: #333;
  color: #fff;
}

.dark-mode .produto:hover {
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
}

/* Botão Whatsapp */
/* Estilo para o botão do WhatsApp */
#whatsapp-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  border-radius: 50%;
  background-color: #f8f8f8;
  padding: 9px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

#whatsapp-btn img {
  width: 50px;
  height: auto;
}

#whatsapp-btn:hover {
  transform: scale(1.1);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}